<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Preinscripción Online</title>
  
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="MainContainer" class="container-fluid disableHorizontalScroll">
        <header class="cabeza">
            <div class="row">
                @*HEADER*@
                @Html.Partial("~/Views/Shared/Header.cshtml")
            </div>
        </header>
        <div class="row espacio-menu-fixed prueba">
            <div class="col-xs-12 col-md-12 col-sm-12" style="padding-right:0">
                @*BODY*@
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @*FOOTER*@
                @Html.Partial("~/Views/Shared/Footer.cshtml")
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>



