@using Preinscripcion.Entidades
@model Preinscripcion.Entidades.Alumno

@{
    ViewBag.Title = "Create";
}

<h3 class="titulo2">Completa el formulario</h3> </br>

<h4 class="titulo2">Datos personales</h4> </br>

@*Esta es la vista en la que estoy probando lo del formulario, e hice un nuevo form*@

@Html.ValidationSummary("")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<form method="post">

    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 form-group">
            <div class="col-xs-6 col-md-6 col-sm-6 form-group">
                <div class="col-xs-3 col-md-3 col-sm-3 form-group">
                    <div class="textooscuro"> <label for="Nombre">Nombre/s:</label> </div>
                    <div class="textooscuro"> <label for="Tipo de Documento">Tipo de Documento:</label> </div>
                    <div class="textooscuro"> <label for="Fecha de Nacimiento">Fecha de Nacimiento:</label> </div>
                    <div class="textooscuro"> <label for="Pcia. de Nacimiento">Pcia.de nacimiento:</label> </div>
                    <div class="textooscuro"> <label for="Sexo">Sexo:</label> </div>
                </div>
                <div class="col-xs-3 col-md-3 col-sm-3 form-group">
                    <div class="textooscuro">
                        @Html.TextBox("Nombre")
                        @Html.ValidationMessage("Nombre")
                    </div>

                    <div class="textooscuro ">
                        <select class="form-control inputform" required id="TipoDoc" value=@Html.DropDownList("TiposDoc")> </select>
                        @Html.ValidationMessage("TiposDoc")
                    </div>

                    <div class="textooscuro ">
                        @Html.TextBoxFor(model => model.FechaNacimiento, new { type = "date" })
                        @Html.ValidationMessage("FechaNacimiento")
                    </div>

                    <div class="textooscuro">
                        <select class="form-control inputform" required id="Provincia" value=@Html.DropDownList("Provincias")> </select>
                        @Html.ValidationMessage("Provincia")
                    </div>

                    <div class="textooscuro">
                        @Html.RadioButtonFor(model => model.Sexo, "Masculino") M
                        @Html.RadioButtonFor(model => model.Sexo, "Femenino") F
                        @Html.RadioButtonFor(model => model.Sexo, "Otro") O
                        @Html.ValidationMessage("Sexo")
                    </div>

                </div>
            </div>

            <div class="col-xs-6 col-md-6 col-sm-6 form-group">

                <div class="col-xs-3 col-md-3 col-sm-3 form-group">
                    <div class="textooscuro"><label for="Apellido">Apellido/s:</label> </div>
                    <div class="textooscuro"><label for="NumDoc">Nro. de documento:</label> </div>
                    <div class="textooscuro"><label for="Nacionalidad">Nacionalidad:</label> </div>
                    <div class="textooscuro"><label for="Localidad de Nacimiento">Localidad de Nacimiento:</label> </div>
                    <div class="textooscuro"><label for="Estado Civil">Estado Civil:</label> </div>
                </div>

                <div class="col-xs-3 col-md-3 col-sm-3 form-group">
                    <div class="textooscuro">
                        @Html.TextBox("Apellido")
                        @Html.ValidationMessage("Apellido")
                    </div>
                    <div class="textooscuro">
                        @Html.TextBox("NumDoc")
                        @Html.ValidationMessage("NumDoc")
                    </div>
                    <div class="textooscuro">
                        <select class="form-control inputform" required id="Nacionalidad" value=@Html.DropDownList("Nacionalidades")> </select>
                        @Html.ValidationMessage("Nacionalidad")
                    </div>
                    <div class="textooscuro">
                        <select class="form-control inputform" required id="Localidades" value=@Html.DropDownList("Localidades")> </select>
                        @Html.ValidationMessage("Localidades")
                    </div>
                    <div class="textooscuro">
                        <select class="form-control inputform" required id="EstadoCivil" value=@Html.DropDownList("EstadosCivil")> </select>
                        @Html.ValidationMessage("EstadoCivil")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 form-group formlargo">
            <div class="textooscuro">
                <label for="Domicilio">Domicilio:</label>
                @Html.TextBox("Domicilio")
                @Html.ValidationMessage("Domicilio")
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 form-group">
            <div class="col-xs-6 col-md-6 col-sm-6 form-group">

                <div class="col-xs-3 col-md-3 col-sm-3 form-group">
                    <div class="textooscuro"><label for="Pcia. de Domicilio">Pcia. de Domicilio:</label> </div>
                    <div class="textooscuro"><label for="Teléfono">Teléfono:</label> </div>
                    <div class="textooscuro"><label for="Email">Email:</label> </div>
                    <div class="textooscuro"><label class="textooscuro" for="FotoCarnet">Foto Carnet</label></div>
                </div>

                <div class="col-xs-3 col-md-3 col-sm-3 form-group">
                    <div class="textooscuro">
                        <select class="form-control inputform" required id="Provincias" value=@Html.DropDownList("Provincias")> </select>
                        @Html.ValidationMessage("Pcia. de Domicilio")
                    </div>
                    <div class="textooscuro">
                        @Html.TextBox("Telefono")
                        @Html.ValidationMessage("Telefono")
                    </div>
                    <div class="textooscuro">
                        @Html.TextBox("Email")
                        @Html.ValidationMessage("Email")
                    </div>
                    <div class="textooscuro">
                        <input type="file" id="FotoCarnet" required>
                        @Html.ValidationMessage("FotoCarnet")
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-md-6 col-sm-6 form-group">
                <div class="col-xs-3 col-md-3 col-sm-3 form-group">
                    <div class="textooscuro"> <label for="Localidad de Domicilio">Localidad de Domicilio:</label></div>
                    <div class="textooscuro"> <label for="Celular">Celular:</label></div>
                    <div class="textooscuro"><label class="textooscuro" for="Enmancipacion">Enmancipación:</label></div>
                    <div class="textooscuro"> <label for="FotocopiaDocumento">Fotocopia Documento</label> </div>
                </div>

                <div class="col-xs-3 col-md-3 col-sm-3 form-group">
                    <div class="textooscuro">
                        <select class="form-control inputform" required id="Localidades" value=@Html.DropDownList("Localidades")> </select>
                        @Html.ValidationMessage("Localidades")
                    </div>
                    <div class="textooscuro">
                        @Html.TextBox("Celular")
                        @Html.ValidationMessage("Celular")
                    </div>

                    <div class="textooscuro">
                        @Html.RadioButtonFor(model => model.Enmancipacion, "Si") S
                        @Html.RadioButtonFor(model => model.Enmancipacion, "No") N
                        @Html.ValidationMessage("Enmancipacion")
                    </div>

                    <div class="textooscuro">
                        <input type="file" id="FotocopiaDoc" required>
                        @Html.ValidationMessage("FotocopiaDoc")
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 form-group formlargo">
            <div class="textooscuro">
                <label for="NomyApe">Nombre y Apellido de Madre, Padre o Tutor:</label>
                @Html.TextBox("NomyApe")
                @Html.ValidationMessage("NomyApe")
            </div>
        </div>
    </div>
            
    <h4 class="titulo2">Otros Datos</h4>

    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 form-group">
            <div class="row col-xs-6 col-md-6 col-sm-6 form-group">

                <div class="col-xs-3 col-md-3 col-sm-3 form-group">
                    <div class="textooscuro"> <label for="Carrera">Carrera a Inscribirse:</label> </div>
                    <div class="textooscuro"> <label for="NombreColegio">Nombre de Colegio Secundario:</label> </div>
                    <div class="textooscuro"> <label for="Analitico">Analítico</label> </div>
                    <div class="textooscuro"> <label class="textooscuro" for="Certificado">Certificado de Trabajo</label> </div>
                </div>

                <div class="col-xs-3 col-md-3 col-sm-3 form-group">
                    <div class="textooscuro">
                        <select class="form-control inputform" required id="Carreras" value=@Html.DropDownList("Carreras")> </select>
                        @Html.ValidationMessage("Carrera")
                    </div>
                    <div class="textooscuro">
                        @Html.TextBox("NombreColegio")
                        @Html.ValidationMessage("NombreColegio")
                    </div>
                    <div class="textooscuro">
                        <input type="file" id="Analitico" required>
                        @Html.ValidationMessage("Analitico")
                    </div>
                    <div class="textooscuro">
                        <input type="file" id="Certificado" required>
                        @Html.ValidationMessage("Certificado")
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="botonform">
        @* Con el input esta la funcionalidad para la validacion y el crear, una vez que ande iba a ver como agrgarlo al boton de continuar *@
        <input type="submit" value="Create" />
        @Html.ActionLink("Continuar", "Turnera", "Turno", null, new { @class = "btn btn-primary btn-lg active" })
    </div>

</form>
}
