@model Preinscripcion.Entidades.Alumno

@{
    ViewBag.Title = "Formulario";
    var pciaNac = ViewBag.Provincia1Id as List<SelectListItem>;
    var locNac = ViewBag.Localidad1Id as List<SelectListItem>;
    var pciaDom = ViewBag.Provincia2Id as List<SelectListItem>;
    var locDom = ViewBag.Localidad2Id as List<SelectListItem>;
    var nac = ViewBag.Nacionalidad as List<SelectListItem>;
}

@Html.ActionLink("Cerrar Sesión", "Logout", "Administrativo", null, new { @class = "botonform" })<br />
<h3 class="titulo2">Verificá los datos</h3> </br>

@using (Html.BeginForm("FinInscripcion", "Administrativo", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h4 class="titulo2">Datos personales</h4> <br>
    <div class="row">
        <div class="col-xs-11 col-md-11 col-sm-11 form-group">
            <div class="col-xs-6 col-md-6 col-sm-6 form-group">
                <div class="col-xs-3 col-md-3 col-sm-3 form-group labelform">
                    <div class="textoform textolabel"><label for="Nombre">Nombre*:</label></div>
                    <div class="textoform textolabel"> <label for="Tipo de Documento">Tipo de Documento*:</label> </div>
                    <div class="textoform textolabel"> <label for="Fecha de Nacimiento">Fecha de Nacimiento*:</label> </div>
                    <div class="textoform textolabel"> <label for="Pcia. de Nacimiento">Pcia.de nacimiento*:</label> </div>
                    <div class="textoform textolabel"> <label for="Sexo">Sexo:</label> </div>
                </div>
                <div class="col-xs-3 col-md-3 col-sm-3 form-group inputsizq">
                    <div class="textoform">
                        <input id="nombre" name="Nombre" class="form-control inputform" type="text" placeholder=" " required value="@ViewData["Nombre"]">
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                    <div class="textoform">
                        @Html.DropDownList("TipoDocId", null, htmlAttributes: new { @class = "form-control inputform" })
                        @Html.ValidationMessageFor(model => model.TipoDocId, "", new { @class = "text-danger" })
                    </div>
                    <div class="textoform">
                        <input class="form-control inputform" type="datetime" placeholder=" " required id="FechaNacimiento" name="FechaNacimiento" value="@ViewData["FechaNacimiento"]">
                        @*@Html.EditorFor(model => model.FechaNacimiento, new { @type = "date form-control textoform inputform" })*@
                    </div>

                    @if (ViewBag.Visibility!=null)
                      {
                         <div class="textoform" id="arg" style="visibility : hidden">
                             @Html.DropDownListFor(x => x.Provincia1Id, pciaNac, new
                                {
                                    @class = "form-control inputform",
                                    data_cascade_combo = "#stypes",
                                    data_cascade_combo_source = Url.Action("BuscarLocNac", "Alumno"),
                                    data_cascade_combo_param_name = "Provincia1Id"
                                })
                         </div><br>
                    }
                    else
                    {
                    <div class="textoform" id="arg" >
                        @Html.DropDownListFor(x => x.Provincia1Id, pciaNac, new
                        {
                            @class = "form-control inputform",
                            data_cascade_combo = "#stypes",
                            data_cascade_combo_source = Url.Action("BuscarLocNac", "Alumno"),
                            data_cascade_combo_param_name = "Provincia1Id"
                        })
                      </div><br>
                    }
                  
                    <div class="textoform">
                        @Html.DropDownList("SexoId", null, htmlAttributes: new { @class = "form-control inputform" })
                        @Html.ValidationMessageFor(model => model.SexoId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6 col-sm-6 form-group">

                <div class="col-xs-3 col-md-3 col-sm-3 form-group labelform">
                    <div class="textoform textolabel"><label for="Apellido">Apellido/s*:</label> </div>
                    <div class="textoform textolabel"><label for="NumDoc">Nro. de documento*:</label> </div>
                    <div class="textoform textolabel"><label for="Nacionalidad">Nacionalidad*:</label> </div>
                    <div class="textoform textolabel"><label for="Localidad de Nacimiento">Localidad de Nacimiento*:</label> </div>
                    <div class="textoform textolabel"><label for="Estado Civil">Estado Civil*:</label> </div>
                </div>
                <div class="col-xs-3 col-md-3 col-sm-3 form-group inputsizq">
                    <div class="textoform">
                        <input id="Apellido" name="Apellido" class="form-control inputform" type="text" placeholder=" " required value="@ViewData["Apellido"]">
                    </div>
                    <div class="textoform">
                        <input id="NroDoc" name="NroDoc" class="form-control inputform" type="number" placeholder=" " required value="@ViewData["NroDoc"]">
                    </div><br>
                    <div class="textoform">
                     @Html.DropDownListFor(x => x.NacionalidadId, nac, "Elija una opción", new
                        {
                            @class = "form-control inputform",
                            data_cascade_combo_source2 = Url.Action("", "Alumno"),
                            data_cascade_combo3 = "#stypes",
                            data_cascade_combo_param_name3 = "NacionalidadId"
                        })
                    </div>

                     @if (ViewBag.Visibility!=null)
                      {
                         <div class="textoform" id="arg2"  style="visibility : hidden">
                                 @Html.DropDownListFor(x => x.Localidad1Id, locNac, new { @class = "form-control inputform selectform", id = "stypes" })
                         </div><br>
                    }
                    else
                    {
                          <div class="textoform" id="arg2" >
                                @Html.DropDownListFor(x => x.Localidad1Id, locNac, new { @class = "form-control inputform selectform", id = "stypes" })
                            </div><br>
                    }
                   
                    <div class="textoform">
                        @Html.DropDownList("EstadoCivilId", null, htmlAttributes: new { @class = "form-control inputform" })
                        @Html.ValidationMessageFor(model => model.EstadoCivilId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11 col-md-11 col-sm-11 form-group formlargo">
            <div class="col-xs-3 col-md-3 cold-sm-3 textoform textolabel">
                <label for="Domicilio">Domicilio*:</label>
            </div>
            <div class="col-xs-8 col-md-8 cold-sm-8 textoform">
                <input id="Domicilio" name="Domicilio" class="form-control inputlargo" type="text" placeholder=" " required value="@ViewData["Domicilio"]">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11 col-md-11 col-sm-11 form-group">
            <div class="col-xs-6 col-md-6 col-sm-6 form-group">
                <div class="col-xs-3 col-md-3 col-sm-3 form-group labelform">
                    <div class="textoform textolabel"><label for="PciadeDomicilio">Pcia. de Domicilio*:</label> </div>
                    <div class="textoform textolabel"><label for="Telefono">Teléfono*:</label> </div>
                    <div class="textoform textolabel"><label for="Email">Email*:</label> </div>
                    @* ARCHIVO *@
                    <div class="textoform textolabel"><label for="FotoCarnet">Foto Carnet:</label></div>
                </div>
                <div class="col-xs-3 col-md-3 col-sm-3 form-group labelform">
                    <div class="textoform">
                        @Html.DropDownListFor(x => x.Provincia2Id, pciaDom, new
                        {
                            @class = "form-control inputform ",
                            data_cascade_combo2 = "#stypes2",
                            data_cascade_combo_source2 = Url.Action("BuscarLocDom", "Alumno"),
                            data_cascade_combo_param_name2 = "Provincia2Id"
                        })
                    </div>
                    <div class="textoform">
                        <input id="Telefono" name="Telefono" class="form-control inputform" type="number" placeholder=" " required value="@ViewData["Telefono"]">
                    </div><br>
                    <div class="textoform">
                        <input id="Mail" name="Mail" class="form-control inputform" type="email" placeholder=" " required value="@ViewData["Mail"]">
                    </div>
                    <div class="textoform selectfile">
                        <input type="file" id="FotoCarnet" name="FotoCarnet">
                         @{ if (ViewData["FotoCarnet"] != null)
                             {
                                 <a href="data:image/jpeg;base64,@ViewData["FotoCarnet"]" target="_blank" download="FotoCarnet.jpg">Foto Carnet</a>
                            }

                           }
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6 col-sm-6 form-group">
                <div class="col-xs-3 col-md-3 col-sm-3 form-group labelform">
                    <div class="textoform textolabel"> <label for="Localidad de Domicilio">Localidad de Domicilio*:</label></div>
                    <div class="textoform textolabel"> <label for="Celular">Celular*:</label></div>
                    <div class="textoform textolabel"> <label for="Emancipacion">Emancipación*:</label></div>
                    @* ARCHIVO *@
                    <div class="textoform textolabel"> <label for="FotocopiaDocumento">Fotocopia Documento:</label> </div>
                </div>

                <div class="col-xs-3 col-md-3 col-sm-3 form-group inputsder">
                    <div class="textoform">
                        @Html.DropDownListFor(x => x.Localidad2Id, locDom, new { @class = "form-control inputform", id = "stypes2" })
                    </div>
                    <div class="textoform">
                        <input id="Celular" name="Celular" class="form-control inputform" type="number" placeholder=" " required value="@ViewData["Celular"]">
                    </div><br>
                    <div class="textoform opciones">

                        @{ if ((string)ViewData["Emancipacion"] == "si")
                            {
                                <label class="radio-inline"><input type="radio" name="Emancipacion" value="si" required checked> SI </label>
                                <label class="radio-inline"><input type="radio" name="Emancipacion" value="no"> NO </label>
                            }
                            else
                            {
                                <label class="radio-inline"><input type="radio" name="Emancipacion" value="si" required> SI </label>
                                <label class="radio-inline"><input type="radio" name="Emancipacion" value="no" checked> NO </label>
                            }
                        }
                    </div><br>
                    <div class="textoform">
                        <input type="file" id="FotoDoc" name="FotoDoc">
                          @{ if (ViewData["FotoDoc"] != null)
                             {
                                 <a href="data:image/jpeg;base64,@ViewData["FotoDoc"]" target="_blank" download="FotoDoc.jpg">Fotocopia documento</a>
                            }

                           }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11 col-md-11 col-sm-11 form-group formlargo">
            <div class="col-xs-3 col-md-3 cold-sm-3 textoform textolabel">
                <label for="NomyApePMT">Nombre y Apellido de Madre, Padre o Tutor*:</label>
            </div>
            <div class="col-xs-8 col-md-8 cold-sm-8 textoform">
                <input id="NomyApePMT" name="NomyApePMT" class="form-control inputlargo" type="text" placeholder=" " required value="@ViewData["NomyApePMT"]">
            </div>
        </div>
    </div>

    <h4 class="titulo2">Otros Datos</h4>

    <div class="row">
        <div class="col-xs-11 col-md-11 col-sm-11 form-group">
            <div class="col-xs-6 col-md-6 col-sm-6 form-group">
                <div class="col-xs-3 col-md-3 col-sm-3 form-group labelform">
                    <div class="textoform textolabel"> <label for="Carrerera">Carrera a Inscribirse*:</label> </div>
                    <div class="textoform textolabel textolargo"> <label for="NombreColegio">Nombre de Colegio Secundario*:</label> </div>
                    <div class="textoform textolabel textolargo"> <label for="TituloColegio">Titulo de Colegio Secundario*:</label> </div>
                    @* ARCHIVOS *@
                    <div class="textoform textolabel"> <label for="Analitico">Analítico:</label> </div>
                    <div class="textoform textolabel"> <label for="Certificado">Certificado:</label> </div>
                </div>
                <div class="col-xs-3 col-md-3 col-sm-3 form-group inputsizq">
                    <div class="textoform">
                        @Html.DropDownList("CarreraId", null, htmlAttributes: new { @class = "form-control inputform" })
                        @Html.ValidationMessageFor(model => model.CarreraId, "", new { @class = "text-danger" })
                    </div><br>
                    <div class="textoform">
                        <input id="NombreColegio" name="NombreColegio" class="form-control inputform" type="text" placeholder=" " required value="@ViewData["NombreColegio"]">
                    </div>
                    <div class="textoform">
                        <input id="TituloColegio" name="TituloColegio" class="form-control inputform" type="text" placeholder=" " required value="@ViewData["TituloColegio"]">
                    </div>


                    <div class="textoform selectfile">
                        <input type="file" id="Analitico" name="Analitico">
                         @{ if (ViewData["Analitico"] != null)
                             {
                                 <a href="data:image/jpeg;base64,@ViewData["Analitico"]" target="_blank" download="Analitico.jpg"> Analitico</a>
                            }

                           }
                       
                    </div>

                    <div class="textoform selectfile">
                        <input id="Certificado" type="file" name="CertificadoTrabajo">
                          @{ if (ViewData["CertificadoTrabajo"] != null)
                             {
                                 <a href="data:image/jpeg;base64,@ViewData["CertificadoTrabajo"]" target="_blank" download="CertificadoTrabajo.jpg"> Certificado de trabajo</a>
                            }

                           }
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Continuar" class="btn btn-primary btn-lg active botonform" />
        </div>
    </div>
}

<br /><br />
<br />
<div class="textooscuro">*: Campos obligatorios</div>

@if (TempData["mensajeerror"] != null)
{
    <div class="alert" role="alert">
        @TempData["mensajeerror"]
    </div>
}



@section scripts{
    <script>

        $(document).on('change', '[data-cascade-combo]', function (event) {

            var id = $(this).attr('data-cascade-combo');

            var url = $(this).attr('data-cascade-combo-source');

            var paramName = $(this).attr('data-cascade-combo-param-name');

            var data = {};
            data[paramName] = id;

            $.ajax({
                url: url,
                data: {
                    id: $(this).val()
                }
            }).success(function (data) {

                $(id).html('');

                $.each(data,
                    function (index, type) {
                        var content = '<option value="' + type.Value + '">' + type.Text + '</option>';
                        $(id).append(content);
                    });
            });
        });

    </script>

    <script>

        $(document).on('change', '[data-cascade-combo2]', function (event) {

            var id = $(this).attr('data-cascade-combo2');

            var url = $(this).attr('data-cascade-combo-source2');

            var paramName = $(this).attr('data-cascade-combo-param-name2');

            var data = {};
            data[paramName] = id;

            $.ajax({
                url: url,
                data: {
                    id: $(this).val()
                }
            }).success(function (data) {

                $(id).html('');

                $.each(data,
                    function (index, type) {
                        var content = '<option value="' + type.Value + '">' + type.Text + '</option>';
                        $(id).append(content);
                    });
            });
        });

    </script>

    <script>

        $(document).on('change', '[data-cascade-combo3]', function (event) {

            var id = $(this).attr('data-cascade-combo3');

            var url = $(this).attr('data-cascade-combo-source3');

            var paramName = $(this).attr('data-cascade-combo-param-name3');

            var data = {};
            data[paramName] = id;

            $.ajax({
                url: url,
                data: {
                    id: $(this).val()
                }
            }).success(function (data) {

                $(id).html('');

                $.each(data,
                    function (index, type) {
                        var content = '<option value="' + type.Value + '">' + type.Text + '</option>';
                        $(id).append(content);
                    });

            });



            if ($(this).val() != 1) {
                document.getElementById("arg").style.visibility = "hidden";
                document.getElementById("arg2").style.visibility = "hidden";
            }
            else {

                document.getElementById("arg").style.visibility = "visible";
                document.getElementById("arg2").style.visibility = "visible";
            };


        });


    </script>


}